-
  data = {
    title: '<span>Revolutionary</span> co-working space to realize your innovation',
    desc: 'In frispes, we spearhead new initiatives and provide mentorship to a new startup, and help grow their opportunities in key local, regional and global markets',
    item: [
      {
        img: 'main-banner.jpg',
        alt: 'Main Banner',
      }
    ]
  }

include ../../layouts/main-banner.pug
